/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@font-face {
    font-family: "FiraCode";
    src: url(../assets/fonts/FiraCode/FiraCode-Medium.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    /* font-family: "FiraCode"; */
}


header{
    color: #fff;
    height: 100vh;
    background-color: #000031;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}
header ul, footer ul{
    font-weight: bold;
    padding: 10px;
}
header ul li, footer ul li{
    display: inline-block;
    list-style-type: none;
}
header ul li.li-right, footer ul li.li-right{
    float: right;
}
header a, footer a{
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 25px;
}
header .texte{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
header .texte span{
    text-transform: uppercase;
    font-weight: 900;
}
header h1{
    text-align: center;
    margin-top: auto;
}
footer{
    background-color: #000031;
}

section{
    color: #fff;
    background-color: #000031;

}
.article{
    padding: 10px;
    margin: auto;
}
.article .zones.presentation{
    width: 50%;
    margin: auto;
}
.article .zones h2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}
.article .zones .present{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.article .zones .present .zone{
    padding: 10px;
}
.article .zones .present img{
    height: auto;
    width: 50%;
}

.article .zones.histoires ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.article .zones.histoires ul li{
    list-style-type: none;
    width: 20%;
    background: #070763;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}
.article .zones.histoires ul li:hover{
    background: #1a1a94;
}
.article .zones.histoires ul li a{
    display: flex;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.article .zones.histoires ul li a::after{
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: transparent;
    display: inline-block;
    transition: 0.3s;
}
.article .zones.histoires ul li a:hover::after{
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3.5px;
    padding: 3.5px;
    background: #ffffff;
    display: inline-block;
}