/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@font-face {
    font-family: "FiraCode";
    src: url(../assets/fonts/FiraCode/FiraCode-Medium.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto/Roboto-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    /* font-family: "FiraCode"; */
}

section{
    background: #fff;
}

header{
    background: url(../assets/img/rennes.jpg) no-repeat center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
header ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 0;
    background: #1b1b1bc4;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding: 10px;
    transition: 0.15s ease-in-out;
}
header ul li:hover{
    border-bottom: 3px solid black;
}
header ul li a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
header .texte{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background: url(../assets/img/cartographer.png); */
    padding: 50px 0;
}
header .texte h1{
    margin: 120px;
    color: #000;
}

.article{
    margin: 15px;
}
.article h2{
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
.article .zones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}
.article .zones.presen img{
    aspect-ratio: 16 / 9;
}
.article .zones.theme{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: stretch;
    align-items: stretch;
    padding: 15px;
    text-align: center;
    margin: auto;
}
.article .zones .zone > p > span{
    cursor: pointer;
    transition: 0.15s;
    font-weight: 700;
}
.article .zones .zone > p > span:hover{
    font-style: italic;
}
.article .zones.theme .zone{
    color: white;
    text-decoration: none;
    background: #4d4d4d;
    padding: 15px;
    border-radius: 25px;
    transition: 0.15s;
    gap: 20px;
    
}
.article .zones.theme .zone a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: 0.15s;
    
    padding: 0;
    margin: 5px;
}
.article .zones.theme .zone a:hover{
    background: #3a3a3a;
}
.article .zones.theme .zone a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: 0.15s;
    border-bottom: 4px solid #fff;
    padding: 2px;
    margin: 5px;
}
.article .zones.theme .zone p{
    padding: 10px;
}

.article .zones.histoire{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
}

img{
    height: 250px;
}

@media (prefers-color-scheme: dark){
    body, section{
        background: #1b1b1b;
        color: #fff;
    }

    header ul li:hover{
        border-bottom: 3px solid #fff;
    }
    header ul li a{
        color: #fff;
    }
    header .texte h1{
        color: #fff;
        text-shadow: 0px 0px 30px #000000;
        border-radius: 20px;
    }
    
}